{% extends "layout.html" %}
{%block title%} Registration Page {%endblock%}
{%block style%} <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"> {% endblock %}
{%block content%}
<div class="login_div">
    <form action="/login", method="POST">
        <p class="pUsername"><label for="username">Username</label>
        <input id="username" name="username" required><br>
        </p>
        <p class="pPassword"><label for="password">Password</label>
        <input id="password" type="password" name="password" required><br>
        </p>
        <p>
        <button type="submit" class="buttonSubmitLogin">Login</button>
        </p>
        <br>
    </form>
</div>
<p class="message">{{message}}</p>
{%endblock%}}