{% extends "layout.html" %}
{%block title%} Registration Page {%endblock%}
{%block style%} <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}"> {% endblock %}

{%block content%}
<div class="register_div">
    <form action="/register", method="POST">
        <p class="pRegisterUsername"><label for="usernameRegister">Username</label>
        <input id="usernameRegister" name="usernameRegister" required><br>
        </p>
        <p class="pPasswordRegister"><label for="passwordRegister">Password</label>
        <input id="passwordRegister" type="password" name="passwordRegister" required><br>
        </p>
        <p class="pPasswordConfirm"><label for="passwordConfirm">Password</label>
        <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Repeat password..." required><br>
        </p>
        <br>
        <p class="pEmail"><label for="email">Email</label>
        <input id="email" name="email"><br>
        </p>
        <p>
        <button type="submit" class="buttonSave">Save</button>
        </p>
        <br>
    </form>
</div>
{%if message%}
<p class="message">{{message}}</p>
{%endif%}

{%endblock%}
